<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>摇滚猪</title>
</head>
<body>
  <div id="root">首次程序加载有点慢，请稍后...</div>
</body>
</html>
